services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: pr_reviewer_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  postgres_test:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: pr_reviewer_test_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
    volumes:
      - postgres_test_data:/var/lib/postgresql/data

#   app:
#     build: .
#     ports:
#       - "8080:8080"
#     depends_on:
#       - postgres
#     env_file:
#       - .env
#     environment:
#       DB_HOST: postgres
#       DB_PORT: 5432

volumes:
  postgres_data:
  postgres_test_data:
